@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* TODO: fix light mode colors */
  :root {
    --background: 210, 40%, 98%;
    --foreground: 217 33% 17%;
    --foreground-soft: 217 33% 17%;

    --card: 0 0% 100%;
    --card-hover: 0 0% 98%;
    --card-border: 214.3 31.8% 91.4%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 0 0% 98%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 217 8% 54%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --icon: 222.2 84% 4.9%;

    --nav-background: 0 0% 10%;
    --nav-foreground: 0 0% 85%;
    
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 0 0% 85%;
    --foreground-soft: 0 0% 75%;

    --card: 0 0% 13%;
    --card-hover: 0 0% 16%;
    --card-border: 0 0% 18%;
    --card-foreground: 0 0% 85%;

    --popover: 0 0% 13%;
    --popover-foreground: 0 0% 85%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 0 0% 13%;
    --secondary-foreground: 210 40% 98%;

    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 35%;

    --accent: 0 0% 15%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 15%;
    --input: 0 0% 20%;
    --ring: 0 0% 25%;

    --icon: 0 0% 50%;

    --nav-background: 33 91% 96%;
    --nav-foreground: 222.2 84% 4.9%;
    
    --radius: 0.5rem;
  }
}

@layer base {
  html {
    scrollbar-gutter: stable;
  }
  body {
    @apply bg-background text-foreground;
  }
}
